<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main page</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <style>
            body {
                text-align: center;
                background-color: rgb(49, 49, 49);
                font-size: 20px;
                margin-top: 100px;
                color: rgb(224, 80, 36);
            }

            h1 {
                color: rgb(255, 136, 0);
                margin-bottom: 50px;
            }

            h2 {
                margin-bottom: -50px;
            }

            p {
                margin-bottom: -130px;
            }
        </style>

        <h1>Welcome to Web Server!</h1>
        <h2>Disclaimer</h2>
        <p style="font-size: 50px">&#8595;</p>
        <img
            src="https://preview.redd.it/v4becpyo3qa51.png?auto=webp&s=3557734368b7ee91209b653d2e7e8476b705d206"
        />
    </body>
</html>
